{% include 'header.html' %}

<script src="{{ url_for('static', filename='/lib/js/comments.js') }}"></script>

<div class="d-flex flex-column  bd-highlight mt-4">

    <div class="w-100 text-center">
        <textarea type="text" class="p-2 w-50" id="comments-comment" placeholder="Enter  your comment"
                  rows="5"></textarea>
    </div>
    <div class="w-50 " style="margin:auto">
        <button id="comments-form" class="p-1 w-10 btn btn-success float-right">Submit</button>
    </div>
</div>


<div class="container">
    <div id="comments-box">
        {% for comment in comments %}
        <h4 class="m-2"> {{comment.name}} </h4>
        <pre class="p-2">{{comment.comment}} </pre>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
