{% include 'header.html' %}
<nav class="bg-info text-center mt-0">
    <h1 class="p-2 text-white"> Cybers Shadows </h1>
</nav>

<div class="d-flex flex-column  bd-highlight">
    <div class="m-2 w-100 text-center">
        <input type="email" class="p-2 w-50" id="comments-email" placeholder="Enter email Id"/>
    </div>
    <div class="m-2 w-100 text-center">
        <textarea type="text" class="p-2 w-50" id="comments-comment" placeholder="Enter the your comment"
                  rows="10"></textarea>
    </div>
    <div class="center m-2 text-center">
        <button id="comments-form" class="p-1 w-10">Submit</button>
    </div>
</div>


<div class="container">
    <div id="comments-box">
    </div>
</div>

<script src="{{ url_for('static', filename='/lib/js/comments.js') }}"></script>
{% include 'footer.html' %}
