{% include 'header.html' %}

<section class="w-100" style="position:absolute;top:50%">
    <div class="row align-items-center justify-content-center m-2">
        <div class="col-lg-3 col-sm-12">

            <div class="form-group">
                <label for="login-email"> Email</label>
                <input type="email" id="login-email" class="form-control" placeholder="Enter Email address" required/>
            </div>

            <div class="form-group">
                <label for="login-pass"> Password</label>
                <input type="password" id="login-pass" class="form-control" placeholder="Enter the password" required/>
            </div>

            <div class="text-center">
                <button class="btn btn-success" id="login-submit"> Login</button>
            </div>

        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='/lib/js/login.js') }}"></script>

{% include 'footer.html' %}